<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">{{ordinal}} Ball <span class="badge pull-right">{{ballNumber}}</span></h2>
  </div>
  <div class="panel-body text-center">
    {{#if playerName}}
        <h3>{{playerName}}</h3>
        <p>{{amount}}</p>
    {{else}}
        <small class="text-muted">Waiting for results...</small>
    {{/if}}
  </div>
</div>